<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.6/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="~/Content/Site.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>


    <div id="loader-container">
        <div class="loader"></div>
    </div>
    <nav class="navbar navbar-light">
        <div class="hearder1 col-12 d-flex">
            <div class="col-4">
                <div class="input-group">
                    <a class="redes" href="https://www.facebook.com/?locale=es_LA" target="_blank"><i class="fa fa-facebook-square redSocial" aria-hidden="true"></i></a>
                    <a class="redes" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram redSocial" aria-hidden="true"></i></a>
                    <a class="redes" href="https://twitter.com/?lang=es" target="_blank"><i class="fa fa-twitter-square redSocial" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-4 logoNav"><img class="logoNavImg" src="~/img/vilvaosBackGroundWhite.png" /></div>
            <div class="col-4 infoRedes d-flex">
                <i class="fa fa-user-circle userHeader" aria-hidden="true"></i>
                @{if (Session["User"] == null)
                    {
                        <button class="btnLogin" onclick="location.href='@Url.Action("Login", "Home")'">Entrar <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                    }
                    else
                    {
                        <button class="btnLogin" onclick="location.href='@Url.Action("Exit", "Home")'">Salir <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                    }
                }
            </div>
        </div>

        <div class="header2 col-12 d-flex navbar-expand-lg justify-content-around">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="col-3 d-flex justify-content-center navbar-nav">
                    <a href="Index" class="linkheader @(Request.Url.AbsolutePath.Contains("/Index") ? "active-link" : "")">Inicio</a>
                </div>
                <div class="col-3 d-flex justify-content-center navbar-nav">
                    <a href="@Url.Action("Cliente", "Home")" class="linkheader @(Request.Url.AbsolutePath.Contains("/Cliente") ? "active-link" : "")">Cliente</a>
                </div>
                <div class="col-3 d-flex justify-content-center navbar-nav">
                    <a href="@Url.Action("Producto", "Home")" class="linkheader @(Request.Url.AbsolutePath.Contains("/Producto") ? "active-link" : "")">Producto</a>
                </div>
                <div class="col-3 d-flex justify-content-center navbar-nav">
                    <a href="@Url.Action("Proveedor", "Home")" class="linkheader @(Request.Url.AbsolutePath.Contains("/Proveedor") ? "active-link" : "")">Proveedor</a>
                </div>
            </div>
        </div>


    </nav>

    <div class="body-content">
        @RenderBody()
        <hr />
    </div>
    @{if (Session["User"] != null)
        {
        <div class="fixed-bottom-right">
            <button class="btn btn-info mb-3" onclick="location.href='@Url.Action("Memoriza", "Home")'">
                <i class="fa fa-gamepad" aria-hidden="true"></i>
            </button>
            <a href="http://127.0.0.1:8000">
                <button class="btn btn-info">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                </button>
            </a>
        </div>
        }
    }

    <footer class="page-footer bg-dark pt-4 footerPage">
        <div class="container-fluid text-md-left contentFooter">
            <div class="d-flex justify-content-center">
                <img class="imgFooter" src="~/img/vilvaosBackGroundBlack.png" />
            </div>
            <div class=" d-flex text-center justify-content-center redesFooter">
                <div class="redes mt-4">
                    <a href="https://www.facebook.com/?locale=es_LA" target="_blank"><i class="fa fa-facebook-square redSocialFooter" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram redSocialFooter" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa fa-twitter-square redSocialFooter" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class=" d-flex justify-content-center flex-column">
                    <h3 class=" text-uppercase mt-4 mb-3 text-center mx-auto">CONTACTANOS</h3>
                    <ul class="list-unstyled">
                        <li class="row">
                            <div class="col-5"><b>Telefono</b></div>
                            <div class="col-7">7777777</div>
                        </li>
                        <li class="row">
                            <div class="col-5"><b>Correo</b></div>
                            <div class="col-7">correoEjemplo@gmail.com</div>
                        </li>
                        <li class="row">
                            <div class="col-5"><b>Direccion</b></div>
                            <div class="col-7">CLL EJM #PLO 10</div>
                        </li>
                        <li class="row">
                            <div class="col-5"><b>Ciudad</b></div>
                            <div class="col-7">Bogota Dc</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="footer-copyright text-center py-3">
            <p>&copy; @DateTime.Now.Year - Vilvaos Inventories</p>
        </div>
    </footer>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
</body>
</html>
